.column .wrap {
  cursor: pointer;
  transition: 0.2s ease;
  box-shadow: 0 0 8px rgba(195, 195, 195, 0.15);
  height: 100%;
  padding: 0.5rem 0.5rem 1rem;
  background: white;
}
.modal-content {
  padding: 2rem;
  border-radius: 2px;
}

.no-margin {
  margin: 0;
}
.home-links .column {
  position: relative;
}
.home-links .column a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  color: white;
}
.home-links .column:nth-child(1) a {
  background: #333;
}
.home-links .column:nth-child(2) a {
  background: rgb(110, 110, 110);
}
.home-links .column:nth-child(3) a {
  background: rgb(83, 83, 83);
}

.home-links .column a:hover {
  background: black;
}
#champion-rotation {
  background: #f7f7f7;
}
#champion-rotation .column img {
  display: inline-block;
  width: 100%;
}
.overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  font-size: 5rem;
  color: white;
  display: none;
}
.overlay.show {
  display: flex;
}
